/* 4 type theme */
body.light {
--bg:        #F2F1ED;
--text:      #2E332F;
--card:      #FBFAF8;
--border:    #D2D1CA;
--primary:   #7A8B5A; /* くすみオリーブ */
--avatar:    #66744D;
--bar_color: #F6F5F1;
--box_color: #E6E4DE;
--btn-text:  #FFFFFF;
}

body.dark {
    --bg: #121212;
    --text: #f8f9fa;
    --card: #1e1e1e;
    --avatar:  #2f5c64;
    --border: #2a2a2a;
    --primary: #4dabf7;
    --btn-text: #000000;
}

body.solarized {
    --bg: #FFF5EB;
    --text: #494f54;
    --card: #DEEDF0;
    --avatar:  #6dbbcb;
    --border: #dee2e6;
    --primary: #F4C7AB;
    --bar_color: #fdf9f5;
    --box_color: #fef9f5;
    --btn-text: #B2B8A3;
}

body.highcontrast {
    --bg: #f4fcfb;
    --text: #3F9AAE;
    --card: #79C9C5;
    --avatar: #24bbda;
    --border: #79C9C5;
    --primary: #F96E5B;
    --btn-text: #FFE2AF;
}

/* モード切り替え */
body {
    background-color: var(--bg);
    color: var(--text);
}

a {
  color: var(--text);
}

a:hover {
  color: var(--text);
  opacity: 0.8;
}

.text-link-primary a{
  color: var(--text);
}

.text-link-primary a:hover {
  color: var(--text);
  filter: brightness(110%);
}

.bar_color{
  background-color: var(--bar_color);
}

.box_color{
  background-color: var(--box_color);
}


/* button design */
.default-btn {
  background-color: var(--primary); /* アクセント */
  color: var(--btn-text);
  border-radius: 8px;
  padding: 6px 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.default-btn:hover {
  filter: brightness(110%);
}


/* 通常のフォローボタン */
.follow-btn {
    border-radius: 8px;
    padding: 6px 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

/* Follow状態 */
.follow-btn.follow {
    background-color: var(--primary);
    color: var(--btn-text);
}

/* Hover */
.follow-btn.follow:hover {
    filter: brightness(110%);
}

/* Following状態（アウトライン） */
.follow-btn.following {
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--border);
}

/* Hover for following */
.follow-btn.following:hover {
    filter: brightness(105%);
    background-color: var(--bar_color);
}

/* Badge */
.custom-badge {
    background-color: var(--primary); /* テーマごとのプライマリ色 */
    color: var(--btn-text);           /* テーマごとのボタン文字色 */
    font-weight: 500;
    border-radius: 12px;
    padding: 0.3em 0.7em;
    display: inline-block;
    text-decoration: none;
}

.custom-badge-lg {
    padding: 0.5em 1em;
    font-size: 1.1rem; /* 少し大きく */
}


/* Baloo
Nunito
Fredoka
この辺のフォントがロゴっぽい。洗練されたおしゃれな感じにするなら別のを指定すべき*/
/* .logo-design{
    color: var(--primary);
    font-family: "Baloo Da 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
} */

.logo-design{
    color: var(--primary);
    font-size: xx-large;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--btn-text);
}

.card {
    background-color: var(--card);
    border-color: var(--border);
}

.icon-sm{
    font-size: 2rem;
    color: var(--avatar);
}

.icon-md{
    font-size: 3.5rem;
    color: var(--avatar);
}

.icon-lg{
    font-size: 9rem;
    color: var(--avatar);
}

.image-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.fa-heart{
    font-size: 1.5rem;
}

.xsmall{
    font-size: 0.65rem;
}

.grid-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* search / explore */
.explore-post-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.avatar-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.avatar-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.avatar-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.post-square{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.post-square-lg{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.note-bubble {
    position: absolute;
    top: -180px;
    left: 8px;
    background: #f0e6ff;
    border-radius: 18px;
    padding: 6px 12px;
    font-size: 0.8rem;
    white-space: nowrap;
    z-index: 10;
}


.note-bubble::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 14px;
    border: 6px solid transparent;
    border-top-color: #f0e6ff;
}


.note-time {
    font-size: 0.7rem;
    color: #666;
    text-align: right;
}

.story-avatar {
    width: 60px;
    height: 60px;
    border: 2px solid #ff3d6a;
    padding: 2px;
}


